@import "src/scss/variables";

.custom-button {
  display: flex;
  padding: 5px 15px;
  font-family: $default-font;
  font-size: $base-text-size;
  line-height: $base-line-height;
  font-weight: 400;
  color: $btn-text-color;
  background-color: $btn-color;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &--green {
    background-color: $submit-btn-color;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:disabled {
    background-color: $btn-disabled-color;
    cursor: auto;

    &:hover,
    &:focus {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }
  }
}
