$default-font: "Roboto", sans-serif;

$black: #000000;
$white: #ffffff;
$gray-light: #f3f4f6;
$gray-main: #bdbdbd;
$gray-200: #d8d8d8;
$gray-300: #afafaf;
$gray-400: #a3a3a3;
$royal-blue: #4b51ef;
$green: #52cf4f;
$red: #d91313;

$label-text-size: 10px;
$label-line-height: 12px;
$extra-small-text-size: 12px;
$extra-small-line-height: 14px;
$small-text-size: 13px;
$small-line-height: 15px;
$base-text-size: 14px;
$base-line-height: 16px;
$medium-text-size: 16px;
$medium-line-height: 18px;

$background-main-color: $white;
$background-aside-color: $gray-main;
$background-user-card: $gray-light;

$text-color: $black;
$second-text-color: $gray-400;
$link-color: $royal-blue;

$btn-color: $royal-blue;
$btn-text-color: $white;
$btn-disabled-color: $gray-300;
$submit-btn-color: $green;

$form-fieldset-border-color: $gray-light;

$input-error-color: $red;
$input-border-color: $gray-200;
